<!-- there are maily 8 types of in-built pipes in angular. pipes are used for transforming the data -->
<!-- DatePipe	Formats a date value according to locale rules.
UpperCasePipe	Transforms text to all upper case.
LowerCasePipe	Transforms text to all lower case.
CurrencyPipe	Transforms a number to a currency string, formatted according to locale rules.
DecimalPipe	Transforms a number into a string with a decimal point, formatted according to locale rules.
PercentPipe	Transforms a number to a percentage string, formatted according to locale rules.
JsonPipe for display an objects
slicePipe -->
<h4>UppeCase Pipe</h4>
<p>{{upperCaseExample|uppercase}} </p>
<h4>Lowercase Pipe</h4>
<p>{{lowerCaseExample|lowercase}} </p>
<h4>Date Pipe</h4>
<p>Date {{data|date}}</p>
<p>shortTime {{data|date:'shortTime'}}</p>
<h4>Number Pipe</h4>
<p>value : {{value|number}}</p>
<p>Decimal Value:{{dcValue|number:'1.3'}}</p>
<h4>Currency Pipe</h4>
<p>Currency {{value|currency}}</p>
<h4>JSON Pipe</h4>
<p>Object {{obj|json}}</p>
<h4>Slice Pipe</h4>
<p>{{myArray|slice:2:4}}</p>
<h4>Percent Pipe</h4>
<p>{{per|percent}}</p>
<p></p>