<div class="p-5">
  <!-- <div class="communicationDemo">
    <h1>Data sharing btw Components</h1>
    <app-parent></app-parent>
  </div>
 <div class="bindingDemo">
   <h1>Data Binding</h1>
  <app-databinding-demo></app-databinding-demo>
 </div>
  <div>
   <div class="directivesDemo">
     <h1>Directives</h1>
     <app-directives></app-directives>
     <h1>Example Task</h1>
     <app-directives-task></app-directives-task>
   </div>
   <div class="pipesDemo">
     <h1>Pipes</h1>
     <app-pipes></app-pipes>
   </div>
   <div class="services">
     <app-services-demo></app-services-demo>
   </div>
   </div> -->
  <h2>Template driven</h2>
   <div class="template-driven-form">
     <app-template-deriven-form></app-template-deriven-form>
  </div>
  <h1>Router Demo</h1>
  <div class="routing">
     <app-router-demo></app-router-demo>
  </div>
</div>
<!-- <div>
  <app-component-one></app-component-one>
  <app-component-two></app-component-two>
</div> -->
<!-- <div> -->
<!-- <button (click)="depClick()">IT Department</button> -->
<!-- <button (click)="officeClick()">India</button> -->
  <!-- <div class="m-5">{{users|customPipe:filterType:filterValue|json}}</div> -->
 <div class="mx-5" *ngFor="let user of users|customPipe:filterType:filterValue">
  <div>
    <h1>{{user.name}}</h1>
    <p>{{user.department}}</p>
    <p>{{user.office}}</p>
  </div>
 </div>
  <!-- <app-button></app-button> -->
<!-- </div> -->
<div class="border border-success">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>